<fieldset>
    <legend>
        <h1>Felicitaciones por su compra en 4 Huellitas</h1>
    </legend>

    <p>Detalle compra: <strong>{{shopping.id}} - {{shopping.id_product}}</strong></p>

    <div style="padding:5px"><strong>Nombre:</strong> <span>{{shopping.name_lastname}}</span></div>
    <div style="padding:5px"><strong>Tipo documento:</strong> <span>{{shopping.id_document_type}}</span></div>
    <div style="padding:5px"><strong>Documento:</strong> <span>{{shopping.document}}</span></div>
    <div style="padding:5px"><strong>Departamento:</strong> <span>{{shopping.id_department}}</span></div>
    <div style="padding:5px"><strong>Ciudad:</strong> <span>{{shopping.id_city}}</span></div>
    <div style="padding:5px"><strong>Correo:</strong> <span>{{shopping.email}}</span></div>
    <div style="padding:5px"><strong>Dirección:</strong> <span>{{shopping.direction}}</span></div>
    <div style="padding:5px"><strong>Celular:</strong> <span>{{shopping.cellphone}}</span></div>
    <div style="padding:5px"><strong>Total:</strong> <span>{{shopping.total}}</span></div>
</fieldset>