{% load static %} 
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body style="background-color:#f3f3ff">
        <div class="container">
            {% load static %}
            <div class="panel panel-default">
                <div class="row" style="margin-top:20px">
                    <div class="col-3">
                        <img src="{% static 'pets/4huellitas.png' %}" style="width: 150px; height: 110px; padding: 10px">
                    </div>
                    <div class="col-9">
                        <h1>Tienda 4 Huellitas</h1>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3>Productos para tu mascota</h1>
                </div>
                <div class="panel-body">
                    <p>Estas ubicado en la sección de compra, disfruta esta agradable experiencia de compra en la mejor tienda online 4 Huellitas.</p>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-3" style="margin-top: 20px">
                                <div class="card">
                                    <img src="{{product.image|slice:"4:"}}" class="card-img-top" alt="{{produc.name}}" style="width: 250px; height: 210px;">
                                    <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">${{product.value}}</p>
                                    <a href="{% url 'shoppingcart:index' product.id %}" class="btn btn-primary">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>